.hdr {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  background-color: #f8f9fd;
}

.tf {
  width: 28%;
}
.tf2 {
  width: 48%;
}
.tf3 {
  width: 20%;
}

.image-preview-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1%;
  background-color: #f8f9fd;
  width: 20%;
  border-radius: 10px;
  color: green;
}

.image-preview {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.up {
  display: flex;
  background-color: #f4f4f4;
  width: 120px;
  align-items: center;
  justify-content: center;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  border-radius: 10px;
  color: #666666;
}

.ht {
  font-size: 1px;
}

/* 1440p and above */
@media (min-width: 1440px) {
  .tf {
    width: 30%;
  }

  .tf2 {
    width: 50%;
  }

  .tf3 {
    width: 22%;
  }

  .image-preview-container {
    width: 22%;
  }
}

/* 1080p screens */
@media (max-width: 1440px) and (min-width: 1080px) {
  .tf {
    width: 28%;
  }

  .tf2 {
    width: 48%;
  }

  .tf3 {
    width: 20%;
  }

  .image-preview-container {
    width: 20%;
  }

  .up {
    width: 120px;
  }
}

/* 720p screens */
@media (max-width: 1080px) and (min-width: 720px) {
  .tf {
    width: 40%;
  }

  .tf2 {
    width: 70%;
  }

  .tf3 {
    width: 30%;
  }

  .image-preview-container {
    width: 40%;
  }

  .up {
    width: 100px;
    padding: 0.5%;
    gap: 12px;
  }
}

/* For smaller screens (optional) */
@media (max-width: 720px) {
  .tf {
    width: 100%;
  }

  .tf2 {
    width: 100%;
  }

  .tf3 {
    width: 100%;
  }

  .image-preview-container {
    width: 100%;
  }

  .up {
    width: 90px;
    padding: 1%;
    gap: 8px;
  }
}